<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/drive/<%= dirPath %>">Back</a>
    <%- include("partials/errors.ejs") %>
    <form
      action="/drive/add/<%=dirPath%>"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="name">Name</label>
      <input type="text" name="name" required maxlength="255" />

      <label for="file">Upload file</label>
      <input type="file" name="file" />
      <p>
        If a file is uploaded a file will be added to the current directory, if
        not a folder will be added.
      </p>

      <button type="submit">Add</button>
    </form>
  </body>
</html>
